.langs-item {
	background: #f1f5f9;
	margin-right: 20px;
	display: inline-block;
	padding: 5px 24px;
    border-radius: 28px/38px;
    opacity: .7;
    font-family: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 48px;
}

.langs {
	margin-bottom: 40px;
}