.triangle-reverse {
	position: relative;
	height: 80px;	
	margin-top: -80px;

}

.triangle-reverse__item {
	display: block;
	width: 100%;
	position: absolute;
	height: 100%;
	fill: #fff;
	top: 80px;
	
}