.user-skills {
	padding-top: 58px;
	padding-left: 70px;
}

.skills-row {
	margin-bottom: 50px;
}

.user-skills__item {
	font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 48px;
}
