.user-info {
	padding: 0 30%;
	text-align: center;
}

.user-info__desc {
	font-family: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	padding: 20px 30%;
	opacity: .4;
	display: inline-block;
}

.user-info__name {
	font-family: 'OpenSansExtraBold', Helvetica, Arial, sans-serif;
	font-size: 72px;
	font-weight: 800;
	line-height: 60px;
	display: inline-block;
}