.values {
	padding-left: 40%;
}

.values__container {
	position: relative;
}

.values-bg {
	position: absolute;
	top: 70px;
	left: -70%;
}

.values__title-text {
	margin: 60px 0;
}

.values__desc {
	font-family: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	opacity: .5;
	width: 75%;
}

.values__user-skills {
	//margin: 100px 0  0 120px;
}